@using Microsoft.AspNetCore.Identity;
@model JOBZONE.Models.UserModel;
@inject UserManager<UserModel> UserManager;
@*
    
*@
@{    
    var user = await UserManager.GetUserAsync(User);
}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@user.Name  @user.Surname</h5>
                        <p class="text-muted mb-1">
                            @if(@user.ActualJob == null)
                            {
                                <span>Bezrobotny</span>
                            }
                            else
                            {
                                <span>@user.ActualJob</span>
                            }
                        </p>

                        <p class="text-muted mb-4">
                            @if (@user.Residence == null)
                            {
                                    <span>Nie znane</span>
                            }
                            else
                            {
                                    <span>@user.Residence</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">Github</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">LinkedIn</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">Twitter</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">Jakis link</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">Jakis link</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Imie i Nazwisko</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user.Name @user.Surname</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefon</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@user.PhoneNumber</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Adres</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    @if (@user.Residence == null)
                                    {
                                        <span>Nie znane</span>                                        
                                    }
                                    else
                                    {
                                        <span>@user.Residence</span>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="input-group-text alert-primary">Modyfikuj</button>
                <br />
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Wykształcenie</p>
                            </div>                                                                               
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    Podstawowe...
                                </p>
                            </div>
                        </div>
                        <br/>
                        <button class="input-group-text alert-primary" onclick="ModifyEducation()">Modyfikuj</button>
                        <script>
                            function ModifyEducation() {
                                window.location.href = '@Url.Action("ModifyEducation")';
                            }
                        </script>
                        <hr />

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Kursy</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Kurs na operatora koparki,...</p>
                            </div>
                        </div>
                        <br />
                        <button class="input-group-text alert-primary" onclick="ModifyCertificate()">Modyfikuj</button>
                        <script>
                            function ModifyCertificate() {
                                window.location.href = '@Url.Action("ModifyCertificate")';
                            }
                        </script>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Poprzednie prace</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">JanuszBud,Własna dziłalność,...</p>
                            </div>
                        </div>
                        <br />
                        <button class="input-group-text alert-primary">Modyfikuj</button>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Języki</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">Niemiecki</p>
                            </div>
                        </div>
                        <br />
                        <button class="input-group-text alert-primary">Modyfikuj</button>
                    </div>                    
                </div>
                @if(user.isAdmin)
                {
                    <button class="input-group-text alert-info" onclick="GoToAdmin()">Admin Panel</button>
                    <script>
                        function GoToAdmin() {
                            window.location.href = '@Url.Action("Index","Admin")';
                        }
                    </script>
                }
            </div>
        </div>
    </div>
</section>